<h3 class="design_text">colores</h3>
<ul class="js-palletes">
    <li class="pallete ">
        <input type="radio" class="radio js-pallete-1" name="pllt" value="1">
        <div class="p1_clr1"></div>
        <div class="p1_clr2"></div>
        <div class="p1_clr3"></div>
    </li>
    <li class="pallete ">
        <input type="radio" class="radio js-pallete-2" name="pllt" value="2">
        <div class="p2_clr1"></div>
        <div class="p2_clr2"></div>
        <div class="p2_clr3"></div>
    </li>
    <li class="pallete ">
        <input type="radio" class="radio js-pallete-3" name="pllt" value="3">
        <div class="p3_clr1"></div>
        <div class="p3_clr2"></div>
        <div class="p3_clr3"></div>
    </li>
</ul>