<div class="form1">
    <div>
        <span>
            <a><i class="fa-sharp fa-solid fa-object-ungroup groupobject"></i></a>
            <h1 class="title-form1">diseña</h1>
        </span>
        <div class="design_text">colores</div>
    </div>
    <div>
        <input type="radio">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <input type="radio">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <span>
        <input type="radio">
        <div></div>
        <div></div>
        <div></div>
    </span>
</div>