<h3 class="design_text">colores</h3>
<ul>
    <li class="pallete">
        <input type="radio" class="radio">
        <div class="p1_clr1"></div>
        <div class="p1_clr2"></div>
        <div class="p1_clr3"></div>
    </li>
    <li class="pallete">
        <input type="radio" class="radio">
        <div class="p2_clr1"></div>
        <div class="p2_clr2"></div>
        <div class="p2_clr3"></div>
    </li>
    <li class="pallete">
        <input type="radio" class="radio">
        <div class="p3_clr1"></div>
        <div class="p3_clr2"></div>
        <div class="p3_clr3"></div>
    </li>
</ul>