<section class="fill_in">
  <label for="fullName" class="desc_labels">Nombre completo</label>
  <input type="text" id="name" name="name" class="input_box js-input-name js_input" placeholder="Nombre y Apellidos" />
  <label for="Position" class="desc_labels" class="input_box">Puesto</label>
  <input type="text" id="job" name="job" class="input_box js-input-job js_input" placeholder="Puesto
  " />
  <li class="desc_labels_list">
    <label for="file-upload" class="desc_labels">Imagen de Perfil</label>
    <label for="photo-upload" class="photo-tag-button">Añadir Imagen</label>
    <input type="file" class="button"><span class="photothumb"></span>
  </li>
  <label for=" emailAddress" class="desc_labels">Email</label>
  <input type="email" id="email" name="email" class="input_box js-input-mail js_input" placeholder="Email@gmail.com
  " />
  <label for="phone" class="desc_labels">Teléfono</label>
  <input type="number" id="phone" name="phone" class="input_box js-input-phone js_input" placeholder="658426697" />
  <label for="network" class="desc_labels">Linkedin</label>
  <input type="url" id="linkedin" name="linkedin" class="input_box js-input-linkedin js_input"
    placeholder="https://linkedin.com/in/Pepita" />
  <label for="" class="desc_labels">Github</label>
  <input type="url" id="github" name="github" class="input_box js-input-github js_input" placeholder="@Pepita
  " />
</section>