<main class="main">

    <article class="main-article1">
        <h1 class="main-title">Crea tu tarjeta de visita</h1>
        <p class="main-paragraph">Crea mejores contactos profesionales de forma fácil y cómoda </p>
    </article>

    <article class="main-article2">
        <nav class="main-nav">
            <ul class="main-ul">
                <li class="main-list-item">
                    <i class="far fa-object-ungroup icon"></i>
                    <a class="main-link" href="">Diseña</a>
                </li>

                <li class="main-list-item">
                    <i class="far fa-keyboard icon"></i>
                    <a class="main-link" href="">Rellena</a>
                </li>

                <li class="main-list-item">
                    <i class="fas fa-share-alt icon"></i>
                    <a class="main-link" href="" target="_blank">Comparte</a>
                </li>
            </ul>
        </nav>
    </article>

    <article class="article3">

        <div class="button">
            <a href="./create-card.html" class="button_link">comenzar</a>
        </div>

    </article>

</main>