<section class="preview">
  <div class="reset-btn">
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p class="p">RESET</p>
    </button>
  </div>
  <article class="card">
    <section class="name-card">
      <div class="text-name-card">
        <h1 class="name js-preview-name">Nombre Apellido</h1>
        <p class="role js-preview-job">Front-end developer</p>
      </div>
    </section>
    <div class="photo-card"></div>
    <nav class="preview-icons">
      <a href="" class="link-icon js-preview-phone"
        ><i class="fa-solid fa-mobile-screen-button card-icon"></i
      ></a>
      <a href="" class="link-icon js-preview-mail">
        <i class="fa-regular fa-envelope card-icon"></i>
      </a>
      <a href="" class="link-icon js-preview-linkedin">
        <i class="fa-brands fa-linkedin-in card-icon"></i>
      </a>
      <a href="" class="link-icon js-preview-github">
        <i class="fa-brands fa-github-alt card-icon"></i>
      </a>
    </nav>
  </article>
</section>
