<section class="preview">
  <div class="reset-btn">
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p class="p">RESET</p>
    </button>
  </div>
  <article class="card">
    <section class="name-card">
      <div class="text-name-card">
        <h1 class="name">Nombre Apellido</h1>
        <p class="role">Front-end developer</p>
      </div>
    </section>
    <div class="photo-card"></div>
    <nav class="preview-icons">
      <a href="" class="hyperlink-icon"
        ><img src="./images/mobile-screen-button-solid.svg" class="fa-solid fa-mobile-screen-button-icon"></i
      ></a>
      <a href="" class="hyperlink-icon">
        <i class="fa-regular fa-envelope icon"></i>
      </a>
      <a href="" class="hyperlink-icon">
        <i class="fa-brands fa-linkedin-in icon"></i>
      </a>
      <a href="" class="hyperlink-icon">
        <i class="fa-brands fa-github-alt icon"></i>
      </a>
    </nav>
  </article>
</section>
