.form1_box {
  background-image: linear-gradient(to bottom, $white-Four, $white-Two, 12%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldset {
  border: 0;
  border-bottom: 1px solid $white-Three;
  margin: 0 30px;
  padding: 0 0 10px 0;
}

.title-fieldset {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  color: $gunmetal;
}
.design_text {
  font-family: 'Open Sans', sans-serif;
  color: $dull-orange;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.box-legend {
  padding: 15px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.arrow {
  font-size: 1.8rem;
  color: $gunmetal;
}

/* .arrow-collapsed {
  transform: rotate(180deg) translate(0, 10px);
} */
.legend_icon {
  font-size: 1.8rem;
  color: $dull-orange;
}
