@import 'core/variables';
@import 'core/reset';
@import 'layout/form';
@import 'layout/section1';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main';
@import 'pages/index';
@import 'pages/create-card';
