/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.design_text {
  font-family: 'Open Sans', sans-serif;
  color: #e17334;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 10px 0; }

.pallete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  .pallete .radio {
    margin: 10px 10px; }
  .pallete .p1_clr1 {
    width: 30px;
    height: 25px;
    background-color: #114e4e; }
  .pallete .p1_clr2 {
    width: 30px;
    height: 25px;
    background-color: #438792; }
  .pallete .p1_clr3 {
    width: 30px;
    height: 25px;
    background-color: #a2deaf; }
  .pallete .p2_clr1 {
    width: 30px;
    height: 25px;
    background-color: #420101; }
  .pallete .p2_clr2 {
    width: 30px;
    height: 25px;
    background-color: #bd1010; }
  .pallete .p2_clr3 {
    width: 30px;
    height: 25px;
    background-color: #e95626; }
  .pallete .p3_clr1 {
    width: 30px;
    height: 25px;
    background-color: #3e5b65; }
  .pallete .p3_clr2 {
    width: 30px;
    height: 25px;
    background-color: #eab052; }
  .pallete .p3_clr3 {
    width: 30px;
    height: 25px;
    background-color: #a0c0cf; }

.fill_in {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center padding;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem; }
  .fill_in .desc_labels {
    line-height: 3;
    color: #114e4e; }
  .fill_in .desc_labels_list {
    line-height: 3;
    color: #114e4e;
    list-style-type: none; }
  .fill_in .input_box {
    border: 1px solid #a2deaf;
    height: 30px;
    padding-left: 5px;
    font-size: 1.4rem; }
  .fill_in .button {
    display: none;
    /* width: 100px;
    height: 25px;
    background-color: $dull-orange;
    border-radius: 5px;
    color: $white-Two;
    border: $hospital-green; */ }
  .fill_in .photo-tag-button {
    width: 100px;
    height: 25px;
    background-color: #e17334;
    border-radius: 5px;
    color: #ffffff;
    border: #a2deaf;
    display: flex;
    justify-content: center;
    align-items: center; }
  .fill_in .photothumb {
    background-size: cover;
    display: inline-block;
    height: 25px;
    width: 28px;
    border: solid thin #a2deaf;
    position: relative;
    left: 118px;
    top: -25px; }

.share-box {
  display: flex;
  flex-direction: column;
  gap: 15px; }

.section_button {
  box-shadow: 0 2px 3px 0 #000000;
  background-color: #e17334;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8rem; }
  .section_button .idcard {
    color: #ffffff;
    font-size: 20px;
    padding: 0 2px 0 0; }

.text-url {
  font-family: 'Open Sans', sans-serif;
  color: #114e4e;
  font-size: 15px;
  font-weight: 700; }

.url-link {
  text-decoration: none; }

.hidden {
  display: none; }

.js__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #d8d8d8; }

.js__h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #54585a;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem; }

.js__link_card {
  color: #e17334;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  text-decoration: none; }

.js__twitter_button {
  background-color: #00a0f5;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  width: 18rem;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 0px solid transparent;
  box-shadow: 0 0 4px 0 #000000; }

.preview {
  width: 100vw;
  height: 457px;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media all and (min-width: 768px) {
    .preview {
      height: 800px;
      margin: 1.8rem 2.2rem 1.8rem 2.2rem;
      border-radius: 10px;
      justify-content: center; } }
  @media all and (min-width: 768px) {
    .preview {
      justify-content: baseline; } }
  .preview .reset-btn {
    width: 240px; }
    .preview .reset-btn .reset {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 30px;
      margin-top: 38px;
      background-color: transparent;
      border: solid 1px #ffffff;
      border-radius: 15px; }
      .preview .reset-btn .reset .far {
        width: 11px;
        height: 20px;
        color: #54585a;
        padding-top: 3px;
        margin-right: 8px; }
      .preview .reset-btn .reset .p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'OpenSans', sans-serif;
        font-size: 1.2rem;
        color: #54585a; }
  .preview .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 329px;
    margin-top: 20px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 10px 0 #000000, 0 1px 3px 0 rgba(0, 0, 0, 0.35); }
    .preview .card .name-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      width: 100%;
      height: 75px; }
      .preview .card .name-card .text-name-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 42px;
        margin-top: 10px;
        border-left: solid 5px #438792;
        padding-left: 15px;
        font-family: 'Monserrat', sans-serif;
        line-height: 25px; }
        .preview .card .name-card .text-name-card .name {
          font-weight: bold;
          font-size: 18px;
          color: #114e4e; }
        .preview .card .name-card .text-name-card .role {
          font-size: 16px;
          color: #54585a; }
    .preview .card .photo-card {
      width: 100%;
      height: 200px;
      background-image: url("../images/retrato-mujer.jpg");
      background-size: cover;
      background-position: center; }
    .preview .card .preview-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
      gap: 10px;
      height: 54px;
      width: 100%; }
      .preview .card .preview-icons .link-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border: solid 2px #a2deaf;
        border-radius: 50%;
        text-decoration: none; }
        .preview .card .preview-icons .link-icon .card-icon {
          color: #114e4e;
          font-size: 18px; }
  .preview .card.palette1 .text-name-card {
    border-left-color: #438792; }
  .preview .card.palette1 .name-card .text-name-card .name {
    color: #114e4e; }
  .preview .card.palette1 .preview-icons .link-icon {
    border-color: #a2deaf; }
  .preview .card.palette1 .preview-icons .link-icon .card-icon {
    color: #114e4e; }
  .preview .card.palette2 .text-name-card {
    border-left-color: #bd1010; }
  .preview .card.palette2 .name-card .text-name-card .name {
    color: #420101; }
  .preview .card.palette2 .preview-icons .link-icon {
    border-color: #e95626; }
  .preview .card.palette2 .preview-icons .link-icon .card-icon {
    color: #420101; }
  .preview .card.palette3 .text-name-card {
    border-left-color: #eab052; }
  .preview .card.palette3 .name-card .text-name-card .name {
    color: #3e5b65; }
  .preview .card.palette3 .preview-icons .link-icon {
    border-color: #a0c0cf; }
  .preview .card.palette3 .preview-icons .link-icon .card-icon {
    color: #3e5b65; }

.header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-logo {
    margin: 95px 0 35.4px;
    width: 250px;
    height: 63px; }
    @media all and (min-width: 768px) {
      .header-logo {
        margin: 350px 0 31px;
        width: 419px;
        height: 105px; } }

.footer {
  margin: 5px 0 10px 0;
  background-color: #ffffff;
  border-top: 1px solid #d8d8d8; }

.footer-container {
  margin: auto;
  padding: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.school-logo {
  width: 100px;
  height: 40px; }

.footer-text {
  padding: 10px 0;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: grey; }

@media all and (min-width: 768px) {
  .footer {
    margin: 20px 0 0 0;
    background-color: #ffffff; }
  .footer-container {
    margin: auto;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
  .school-logo {
    width: 103px;
    height: 37px;
    margin: 0 0 0 386px; } }

@media all and (min-width: 1024px) {
  .school-logo {
    width: 103px;
    height: 37px;
    margin: 0 0 0 640px; } }

.main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }
  .main-title {
    color: #e17334;
    font-family: 'Merriweather', serif;
    font-size: 1.92rem; }
  .main-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.28rem;
    color: #114e4e;
    width: 264px;
    height: 38px; }
  .main-article2 {
    width: 268px;
    height: 73px;
    border: 0.2rem solid #e173342a;
    border-radius: 0.4rem;
    margin-top: 18px; }
  .main-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin: 1.8rem;
    list-style: none; }
  .main-list-item {
    display: flex;
    flex-direction: column; }
  .main-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.28rem;
    color: #54585a; }

.icon {
  color: #e17334;
  font-size: 2rem; }

.article3 {
  margin: 38px 0 30px; }

.button {
  background-color: #438792;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center; }

.button_link {
  text-transform: uppercase;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.6rem; }

@media all and (min-width: 768px) {
  .main-cards {
    background-image: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);
    /* height: 80rem; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; } }

.main-cards .form .fieldset {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 30px;
  padding: 0 0 10px 0; }
  .main-cards .form .fieldset .box-legend {
    padding: 15px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .main-cards .form .fieldset .box-legend .title-fieldset {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding: 0 0 10px 10px;
      color: #54585a; }
    .main-cards .form .fieldset .box-legend .legend_icon {
      width: 1.8rem;
      font-size: 1.8rem;
      color: #e17334; }
    .main-cards .form .fieldset .box-legend .arrow {
      font-size: 1.8rem;
      color: #54585a; }
  .main-cards .form .fieldset .form1_box {
    background-image: linear-gradient(to bottom, #f5f5f5, #ffffff, 12%);
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .main-cards .form .fieldset .form3_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0; }

.main-cards .form .fieldset .collapse {
  display: none; }

.main-cards .form .arrow-collapsed {
  transform: rotate(180deg) translate(0, 10px); }

@media all and (min-width: 768px) {
  .main-cards .form {
    padding: 2rem 0 0 0;
    width: 100%; } }

.header-create-card {
  background-color: #ffffff; }
  .header-create-card-logo {
    margin: 31px 79px 30px 40px;
    width: 201px;
    height: 50px; }
    @media all and (min-width: 768px) {
      .header-create-card-logo {
        margin: 31px 527px 30px 40px; } }

/*# sourceMappingURL=main.css.map */
