.footer {
  margin: 20px 0 0 0;
  height: 120px;
  background-color: white;
}
.footer-container {
  margin: auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.school-logo {
  width: 80px;
  height: 50px;
  padding: 0 0 20px 0;
}
.footer-text {
  padding: 10px 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: grey;
}
