.footer {
  margin: 20px 0 0 0;
  background-color: $white-Two;
  height:max-content;
}
.footer-container {
  margin: auto;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.school-logo {
  width: 100px;
  height: 40px;
}
.footer-text {
  padding: 10px 0;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: grey;
}
@media all and (min-width: 768px) {
  .footer {
    margin: 20px 0 0 0;
    background-color: $white-Two;
  }

  .footer-container {
    margin: auto;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .school-logo {
    width: 103px;
    height: 37px;
    margin: 0 0 0 386px;
  }
}

@media all and (min-width: 1024px) {
  .school-logo {
    width: 103px;
    height: 37px;
    margin: 0 0 0 640px;
  }
}
