.share-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section_button {
  box-shadow: 0 2px 3px 0 $black;
  background-color: $dull-orange;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  .idcard {
    color: $white-Two;
    font-size: 20px;
    padding: 0 2px 0 0;
  }
}

.text-url {
  
  font-family: 'Open Sans', sans-serif;
  color: $dark-gn-blue;
  font-size: 15px;
  font-weight: 700;
}

.url-link {
 text-decoration: none;
}

.hidden {
  display: none;
}

.js__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $white-Three;
}

.js__h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $gunmetal;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
}

.js__link_card {
  color: $dull-orange;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  text-decoration: none;
}

.js__twitter_button {
  background-color: #00a0f5;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  width: 18rem;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 0px solid transparent;
  box-shadow: 0 0 4px 0 $black-20;
}