.fill_in {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center padding;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  .desc_labels {
    line-height: 3;
    color: $dark-gn-blue;
  }
  .input_box {
    border: 1px solid $hospital-green;
  }
  .button {
    width: 100px;
    height: 25px;
    background-color: $dull-orange;
    border-radius: 5px;
    color: $white-Two;
    border: $hospital-green;
  }
}
