.form1 {
  background-color: white;
}
.title-form1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 0 10px 10px;
}
.design_text {
  font-family: 'Open Sans', sans-serif;
  color: $dull-orange;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.groupobject {
  font-size: 60px;
  color: $dull-orange;
  height: 40px;
  z-index: 5;
}
