.share-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section_button {
  box-shadow: 0 2px 3px 0 $black;
  background-color: $dull-orange;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  .idcard {
    color: $white-Two;
    font-size: 20px;
    padding: 0 2px 0 0;
  }
}

.text-url {
  
  font-family: 'Open Sans', sans-serif;
  color: $dark-gn-blue;
  font-size: 15px;
  font-weight: 700;
}

.url-link {
 text-decoration: none;
}

.hidden {
  display: none;
}