.preview {
  width: 100vw;
  height: 457px;
  background-image: linear-gradient(to bottom, $silver, $pale-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media all and (min-width: 768px) {
    margin: 1.8rem 2.2rem 1.8rem 2.2rem;
    border-radius: 10px;
    justify-content: center;
  }
  @media all and (min-width: 768px) {
    justify-content: baseline;
  }

  .reset-btn {
    width: 240px;

    .reset {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 30px;
      margin-top: 38px;
      background-color: transparent;
      border: solid 1px $white-Two;
      border-radius: 15px;

      .far {
        width: 11px;
        height: 20px;
        color: $gunmetal;
        padding-top: 3px;
        margin-right: 8px;
      }

      .p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'OpenSans', sans-serif;
        font-size: 1.2rem;
        color: $gunmetal;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 329px;
    margin-top: 20px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 10px 0 $black-20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);

    .name-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $white-Two;
      width: 100%;
      height: 75px;

      .text-name-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 42px;
        margin-top: 10px;
        border-left: solid 5px $dirty-blue;
        padding-left: 15px;
        font-family: 'Monserrat', sans-serif;
        line-height: 25px;

        .name {
          font-weight: bold;
          font-size: 18px;
          color: $dark-gn-blue;
        }

        .role {
          font-size: 16px;
          color: $gunmetal;
        }
      }
    }

    .photo-card {
      width: 100%;
      height: 200px;
      background-image: url('../images/retrato-mujer.jpg');
      background-size: cover;
      background-position: center;
    }

    .preview-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
      gap: 10px;
      height: 54px;
      width: 100%;

      .link-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border: solid 2px $hospital-green;
        border-radius: 50%;
        text-decoration: none;

        .card-icon {
          color: $dark-gn-blue;
          font-size: 18px;
        }
      }
    }
  }

  .card.palette1 {
    .text-name-card {
      border-left-color: $dirty-blue;
    }

    .name-card .text-name-card .name {
      color: $dark-gn-blue;
    }

    .preview-icons .link-icon {
      border-color: $hospital-green;
    }

    .preview-icons .link-icon .card-icon {
      color: $dark-gn-blue;
    }
  }

  .card.palette2 {
    .text-name-card {
      border-left-color: $rusty-red;
    }

    .name-card .text-name-card .name {
      color: $dried-blood;
    }

     .preview-icons .link-icon {
      border-color: $tomato;
    }

    .preview-icons .link-icon .card-icon {
      color: $dried-blood;
    }
  }

  .card.palette3 {
    .text-name-card {
      border-left-color: $faded-orange;
    }

    .name-card .text-name-card .name {
      color: $slate;
    }

    .preview-icons .link-icon {
      border-color: $light-grey-blue;
    }

    .preview-icons .link-icon .card-icon {
      color: $slate;
    }
  }
}

