<section class="preview">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p>RESET</p>
    </button>
  </div>
  <div class="card">
    <section class="name-card">
      <h1>Nombre Apellido</h1>
      <p>Front-end developer</p>
    </section>
    <section class="photo-card"></section>
    <nav class="links-card">
      <a href="" class="telephone-number"
        ><i class="fa-solid fa-mobile-screen-button"></i
      ></a>
      <a href="" class="email"></a>
      <a href="" class="linkedin"></a>
      <a href="" class="github"></a>
    </nav>
  </div>
</section>
<!--Añadir a href a los li-->
<!--Añadir los iconos de los enlaces en los li-->
<!--Ver por qué no aparece el icono en el botón de reset-->
