<section class="preview">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p>RESET</p>
    </button>
  </div>
  <div class="card">
    <section class="name-card">
      <h1>Nombre Apellido</h1>
      <p>Front-end developer</p>
    </section>
    <section class="photo-card"></section>
    <nav class="links-card">
      <ul class="links-card-ul">
        <li class="telephone-number"></li>
        <li class="email"></li>
        <li class="linkedin"></li>
        <li class="github"></li>
      </ul>
    </nav>
  </div>
</section>
<!--Añadir a href a los li-->
<!--Ver por qué no aparece el icono en el botón de reset-->
