<section class="preview">
  <div>
    <button type="reset" class="reset">
      <i class="far fa-trash-alt"></i>
      <p>RESET</p>
    </button>
  </div>
  <div class="card">
    <section class="name-card">
      <h1>Nombre Apellido</h1>
      <p>Front-end developer</p>
    </section>
    <section class="photo-card"></section>
    <nav class="links-card">
      <ul>
        <li class="li">
          <a href="" class="telephone-number">
            <i class="fa-solid fa-mobile-screen-button"> </i>
          </a>
        </li>
        <li class="li">
          <a href="" class="email">
            <i class="fa-regular fa-envelope"></i>
          </a>
        </li>
        <li class="li">
          <a href="" class="linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li class="li">
          <a href="" class="github">
            <i class="fa-brands fa-github-alt"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
