@import 'core/variables';
@import 'core/reset';
@import 'layout/form1';
@import 'layout/form2';
@import 'layout/form3';
@import 'layout/section1';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main';
@import 'pages/index';
@import 'pages/create-card';
@import 'layout/header-create-card';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
   font-size: 62.5%; 
}
